#social-buttons button {

color: white;

}

.btn-twitter {

background-color: #00acee;

border-color: #009ad5;

}

.btn-facebook {

background-color: #4868ac;

border-color: #314776;

}

.btn-pinterest {

background-color: #b62f26;

border-color: #b62f26;

}


body {
	background-color: #fff;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

}

.carouselimage {
	height: 400px;
}

#line1 {
	padding-top: 20px;
	text-align: center;
	color: #3becd5;
	font-size: 40px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#line2 {
	line-height: 20px;
	padding-bottom: 60px;
	text-align: center;
	color: #FE3B6D;
	font-size: 40px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#navigation, #navigation a {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 14px;
	color: black;
	text-align: center;
	font-style: normal;
	font-variant: normal;
	line-height: 26.4px;
	padding-bottom: 10px;
}

#maincontent {
	margin: 0 auto; 
	width: 60%;
}

.photoalbum {
	border: 10px solid #fff;
  	border-bottom: 25px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
    max-height: 300px;
}

.bio {
	padding: 5px;
	vertical-align: top;
}

.logo {
	height: 20%;
}